<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .wrap {
      width: 300px;
      height: 300px;
      background: yellow;
    }
    .list-item {
      background-color: green;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div id="wrap" class="wrap">
    <ul id="list">
      <li class="list-item">1</li>
      <li class="list-item">2</li>
      <li class="list-item">3</li>
      <li class="list-item">4</li>
      <li class="list-item">5</li>
    </ul>
  </div>
  
  <script>
    const wrap = document.getElementById('wrap');
    const list = document.getElementById('list');
    wrap.addEventListener('click', (event) => {
      console.log('wrap----');
      console.log(event.target);
      console.log(event.currentTarget);
    }, true);
    list.addEventListener('click', (event) => {
      console.log('list----');
      console.log(event.target);
      console.log(event.currentTarget);
    });
  </script>
</body>
</html>